@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 3rem;
}

img{
  transition: transform .5s;
}

img:hover {
   transform: scale(1.1);  
}

.list-group-item:hover{
   background-color: whitesmoke;
   color: black;
}
